<!--
    File: base.html

    Description:
    This HTML file serves as the base template for the ClinD (Clinical De-identification Platform) web application.
    It includes the overall page structure, such as the navigation bar and main container for dynamic content.

    Main Components:
    - Navigation bar with links to NER (Named Entity Recognition), De-identification, and About pages
    - Centralized styles and script resources (CSS, JS libraries)
    - Integration of external libraries for functionality like jQuery and ECharts
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>{{ title }}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/echarts.js') }}"></script>
</head>

<body>
<!-- Navigation bar -->
<nav class="navbar">
    <div class="navbar-container">
        <div class="nav-logo">
            <a href="{{ url_for('ner') }}" class="logo-link">
                <span class="logo-text">Clin<span class="logo-highlight">D</span></span>
                <span class="logo-subtext">Clinical De-identification Platform</span>
            </a>
            <div class="logo-image-group">
                <img src="{{ url_for('static', filename='images/uzh_logo_e.jpg') }}" alt="UZH Logo" class="logo-img">
                <img src="{{ url_for('static', filename='images/csg.png') }}" alt="CSG Logo" class="logo-img">
            </div>
        </div>
        <ul class="nav-links">
            <li><a href="{{ url_for('ner') }}" id="nav-ner">NER</a></li>
            <li><a href="{{ url_for('deidentification') }}" id="nav-deid">De-identification</a></li>
            <li><a href="{{ url_for('about') }}" id="nav-about">About</a></li>
        </ul>
    </div>
</nav>


<div class="main-container">
    {% block content %}{% endblock %}
</div>
</body>

</html>
